*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgba(116, 106, 46, 0.699), rgb(127, 91, 168));
  overflow: hidden;
}

.back, .set {
  height: 5rem;
  width: 5rem;
  color: white;
  margin: 2rem 0 2rem 2rem;
  border: 1px solid white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.set {
  margin-bottom: 0;
}

// .cover {
//   display: absolute;
//   height: 14rem;
//   width: 5rem;
//   //background: red;
// }

nav {
  height: 40vh;
  width: 1vw;
  // border-left: 1px solid white;
  margin-left: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.75s ease;
  transform-origin: top;

  ul {
    width: 10vw;
    list-style-type: none;
    margin-top: 1rem;
    margin-left: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;

    li {
      transition: all 0.5s ease;
      opacity: 0;
      transform: translateX(150%);
      cursor: pointer;

      &:hover {
        color: aqua;
      }
    }
  }
}

.line {
  height: 40vh;
  width: 1px;
  border-left: 1px solid white;
  left: 4.5rem;
  position: absolute;
  transform: scaleY(0);
  transition: all 0.75s ease;
  transform-origin: top;
}

.close {
  height: 5rem;
  width: 5rem;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 2rem;
  transform: translateY(-32vh) scale(0);
  transition: all 0.75s ease;
  position: relative;
  cursor: pointer;
  transform-origin: 50% -100%;

  .left {
    position: absolute;
    border-left: 1px solid white;
    transform: rotate(45deg);
    transform-origin: top;
    height: 2rem;
    width: 2rem;
    left: 57.5%;
    top: 50%;
  }

  .right {
    position: absolute;
    border-right: 1px solid white;
    transform: rotate(-45deg);
    transform-origin: top;
    height: 2rem;
    width: 2rem;
    right: 57.5%;
    top: 50%;
  }
}